.button{
    padding: 6px 12px;
    background-color: #337ab7;
    color: white;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover{
    background-color: #286090;

}

.wrapper{
    margin-top: 50px;
}

.name{
    font-size: 48px;
}

body{
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #FAFAFA;
}