.button{
    padding: 15px;
    background-color: #5B6AFF;
    color: white;
    display: inline-block;
    border-radius: 10px;
}

.button:hover{
    background-color: #7684FF;
}

.wrapper{
    margin-top: 50px;
}

.name{
    font-size: 48px;
}

body{
    text-align: center;
    background-color: #f0f0f0;
}